<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>{% block title %}Піцерія{% endblock title %}</title>
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('index') }}">Головна</a>
            <a href="{{ url_for('menu') }}">Меню</a>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>
