
Меню - Піцерія


<h2>Меню</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Піцца</th>
                <th scope="col">Інгредієнти</th>
                <th scope="col">Ціна</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Пеппероні</td>
                <td>Тісто, томатний соус, моцарела та ковбаса пепероні.</td>
                <td>350 грн</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Моцарела</td>
                <td>Томатний соус, сир моцарела, базилік</td>
                <td>280 грн</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>4 сири</td>
                <td>Пармезан, Адигейський, Моцарела та Дорблю</td>
                <td>320 грн</td>
            </tr>
        </tbody>
    </table>

    <a href="/" class="btn btn-primary mt-3">Повернутись на головну</a>

