{% extends "base.html" %}

{% block title %}Меню - Піцерія{% endblock title %}

{% block content %}
    <h2>Меню</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Піцца</th>
                <th scope="col">Інгредієнти</th>
                <th scope="col">Ціна</th>
            </tr>
        </thead>
        <tbody>
            {% for pizza in pizzas %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ pizza.name }}</td>
                <td>{{ pizza.ingredients }}</td>
                <td>{{ pizza.price }} грн</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ url_for('index') }}" class="btn btn-primary mt-3">Повернутись на головну</a>
{% endblock content %}
